.banner {
    background-color: var(--azul-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 7.5rem 3.25rem;
}

.titulo {
    font-size: 3.5rem;
    margin-top: 2.875rem;
    margin-bottom: 2rem;
}

.texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.right {
    position: relative;
    height: 406px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 3rem;
}

.right>.minhafoto {

    width: 18vw;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.redes {
    width: 216px;
    height: 50px;
    margin-right: 1.2rem;
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

.redes>a {
    background-repeat: no-repeat;
    background-size: contain;
    width: 33.33%;
}

.github {
    background-image: url(../../Assets/logo-redes/hub-white.png);
    height: 100%;
}

.github:hover {
    transition: 300ms;
    background-image: url(../../Assets/logo-redes/hub-blue.png);
    transform: scale(1.125);
}

.linkedin {
    background-image: url(../../Assets/logo-redes/in-white.png);
}

.linkedin:hover {
    transition: 300ms;
    background-image: url(../../Assets/logo-redes/in-blue.png);
    transform: scale(1.125);
}

.whatsapp {
    background-image: url(../../Assets/logo-redes/wpp-white.png);
}

.whatsapp:hover {
    transition: 300ms;
    background-image: url(../../Assets/logo-redes/wpp-green.png);
    transform: scale(1.125);
}


/* .right>.circuloColorido {
    position: absolute;
    right: 7vw;
    bottom: 2.2vw;
    width: 25vw;
    border-radius: 50%;
} */

.left {
    position: relative;
}

.right>.circuloColorido {
    animation: loading linear 1000ms infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1100px) {
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .texto {
        margin-bottom: 1.5rem;
    }

    .right {
        height: 338px;
    }

    .right>.minhaFoto {
        width: 25vw;
    }

    /* .right>.circuloColorido {
        right: 10vw;
        width: 35vw;
    } */
}

@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .right {
        height: 307px;
    }

    /* .right>.circuloColorido */
    .right>.minhaFoto {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .right>.minhaFoto {
        width: 170px;
        transform: translate(5rem, 0px);
    }

    /* .right>.circuloColorido {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    } */
}